img {
    max-height: 100%;
    max-width: 100%;
}

.social-media-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.controls, .controls-row {
    width: 100%;
}

.controls-row {
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: lightgreen;
}

.disabled {
    background-color: grey;
}

.can-hover:hover:not(.disabled) {
    cursor: pointer;
    border-color: darkgoldenrod;
}

.page-container, .cell {
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#debugger li {
    list-style-type: none;
}

/********************
 ** Matrix styling **
 ********************/

 .matrix-container {
    width: 100%;
    
    /** NOTE: 
     * Setting vw or vh disables the users ability to zoom in.
     * A workaround is to use height: calc(<magnitude>rem + <magnitude>vh)
     */
    height: 50vh;
}

.matrix {
    display: grid;
    height: 100%;
}

.cell {
    border: 1px solid black;
    display: flex;
}